<div class="top-header-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">
        <div class="phone_header">
          <a href="tel:+375 (29) 167-84-33"><i class="far fa-mobile-alt mobile_icon"></i> +375 (29) 167-84-33</a>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="option-item">
          <form data-key="8a2518724370393a8aa31c5b7e38f84bee79cf00" action="rezultatyi-poiska" method="get"
                class="search-box msearch2" id="mse2_form">
            <input type="text" class="form-control" name="query" placeholder="Поиск в каталоге" value=""/>
            <button type="submit"><i class="flaticon-search"></i></button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="navbar-area">
  <div class="main-responsive-nav">
    <div class="container">
      <div class="main-responsive-menu">
        <div class="logo">
          <a href="/">
            <img src="images/logo.png" alt="nefermer.by">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-navbar">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
          <img src="images/logo.png" alt="nefermer.by">
        </a>

        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" title="Экологически чистые фермерские продукты" href="/">Главная</a>
            </li>
            <li class="nav-item"><a class="nav-link" title="Наш ассортимент" href="catalog/">Наш ассортимент <i
              class="bx bx-chevron-down"></i></a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" title="Мясо" href="catalog/myaso/">Мясо <i
                  class="bx bx-chevron-down"></i></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" title="Кролик" href="catalog/myaso/krolik/">Кролик</a></li>
                    <li class="nav-item"><a class="nav-link" title="Птица" href="catalog/myaso/pticza/">Птица</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" title="Мясные деликатесы" href="catalog/myasnyie-delikatesyi/">Мясные
                  деликатесы</a></li>
                <li class="nav-item"><a class="nav-link" title="Молочные продукты" href="catalog/syir/">Молочные
                  продукты <i class="bx bx-chevron-down"></i></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" title="Молочные продукты из козьего молока"
                                            href="catalog/syir/molochnyie-produktyi-iz-kozego-moloka/">Молочные продукты
                      из козьего молока</a></li>
                    <li class="nav-item"><a class="nav-link" title="Молочные продукты из коровьего молока"
                                            href="catalog/syir/molochnyie-produktyi-iz-korovego-moloka/">Молочные
                      продукты из коровьего молока</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" title="Хлеб, выпечка" href="catalog/xleb-vyipechka/">Хлеб,
                  выпечка</a></li>
                <li class="nav-item"><a class="nav-link" title="Бакалея" href="catalog/bakaleya/">Бакалея <i
                  class="bx bx-chevron-down"></i></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" title="Яйца" href="catalog/bakaleya/yajcza/">Яйца </a></li>
                    <li class="nav-item"><a class="nav-link" title="Мед" href="catalog/bakaleya/med/">Мед </a></li>
                    <li class="nav-item"><a class="nav-link" title="Масло и уксус"
                                            href="catalog/bakaleya/masla-i-uksus/">Масла и уксус </a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" title="Варенье и закатки" href="catalog/varene-i-zakatki/">Варенье
                  и закатки <i class="bx bx-chevron-down"></i></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" title="Варенье" href="catalog/varene-i-zakatki/varene/">Варенье</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" title="Урбеч" href="catalog/urbech/">Урбеч</a></li>
                <li class="nav-item"><a class="nav-link" title="Чай" href="catalog/chaj/">Чай </a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" title="О нас" href="o-nas">О нас</a></li>
            <li class="nav-item"><a class="nav-link" title="Оплата и доставка" href="oplata-i-dostavka">Оплата и
              доставка</a></li>
            <li class="nav-item"><a class="nav-link" title="Производители" href="vendors/">Производители</a></li>
            <li class="nav-item"><a class="nav-link" title="Качество и безопасность" href="kachestvo-i-bezopasnost">Качество
              и безопасность</a></li>
            <li class="nav-item"><a class="nav-link" title="Контакты" href="contacts">Контакты</a></li>
          </ul>

          <div class="others-options d-flex align-items-center">

            <div class="option-item">
              <div class="cart-btn">
                <div class="msMiniCart">
                  <div class="empty">
                    <a href="javascript:void(0);">
                      <i class="flaticon-shopping-cart"></i>
                      <span>0</span>
                    </a>
                  </div>
                  <div class="not_empty">

                    <a href="cart">
                      <i class="flaticon-shopping-cart"></i>
                      <span><strong class="ms2_total_count">0</strong></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="others-option-for-responsive">
    <div class="container">
      <div class="option-item">
        <div class="cart-btn cart_mobile">
          <div class="msMiniCart">
            <div class="empty">
              <a href="javascript:void(0);">
                <i class="flaticon-shopping-cart"></i>
                <span>0</span>
              </a>
            </div>
            <div class="not_empty">

              <a href="cart">
                <i class="flaticon-shopping-cart"></i>
                <span><strong class="ms2_total_count">0</strong></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
