<div class="main-slider-area">
  <div class="home-slides owl-carousel owl-theme">

    <div class="main-slider-item main-slider-two">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="main-slider-content">

                  <div class="title_slibe">Только свежее мясо</div>
                  <p></p>
                  <div class="slider-btn">
                    <a href="catalog/myaso/" class="default-btn">Перейти</a>

                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="main-slider-image-wrap">
                  <a href="catalog/myaso/"><img src="images/slider/Screenshot_3.png" alt="Только свежее мясо"></a>

                  <div class="slider-shape">
                    <img src="template/img/main-slider/main-slider-shape.png" alt="Только свежее мясо">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slider-item main-slider-two">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="main-slider-content">

                  <div class="title_slibe">Сыр</div>
                  <p>Хороший свежий сыр от раздых производителей. Ждем ваших заявок.</p>
                  <div class="slider-btn">
                    <a href="catalog/syir/" class="default-btn">Смотреть</a>

                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="main-slider-image-wrap">
                  <a href="catalog/syir/"><img src="images/slider/IMG_5183.JPG" alt="Сыр"></a>

                  <div class="slider-shape">
                    <img src="template/img/main-slider/main-slider-shape.png" alt="Сыр">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="main-slider-shape">
    <div class="shape-1">
      <img src="template/img/main-slider/slider-shape-1.png" alt="image">
    </div>

    <div class="shape-2">
      <img src="template/img/main-slider/slider-shape-2.png" alt="image">
    </div>
  </div>
</div>


<section class="top-products-area pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Каталог</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/myaso/" alt="Мясо" title="Мясо">
              <img src="/assets/components/phpthumbof/cache/IMG_1233.b6919b0da74be038a7a9ce3bbebf7d0a.jpg" alt="Мясо"
                   title="Мясо"></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/myaso/" alt="Мясо" title="Мясо">Мясо</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/myasnyie-delikatesyi/" alt="Мясные деликатесы" title="Мясные деликатесы">
              <img src="/assets/components/phpthumbof/cache/IMG_0200.b6919b0da74be038a7a9ce3bbebf7d0a.jpg"
                   alt="Мясные деликатесы" title="Мясные деликатесы"></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/myasnyie-delikatesyi/" alt="Мясные деликатесы" title="Мясные деликатесы">Мясные
                деликатесы</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/syir/" alt="Молочные продукты" title="Молочные продукты">
              <img src="/assets/components/phpthumbof/cache/IMG_1330.b6919b0da74be038a7a9ce3bbebf7d0a.jpg"
                   alt="Молочные продукты" title="Молочные продукты"></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/syir/" alt="Молочные продукты" title="Молочные продукты">Молочные продукты</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/xleb-vyipechka/" alt="Хлеб, выпечка" title="Хлеб, выпечка">
              <img src="/assets/components/phpthumbof/cache/IMG_5272.b6919b0da74be038a7a9ce3bbebf7d0a.jpg"
                   alt="Хлеб, выпечка" title="Хлеб, выпечка"></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/xleb-vyipechka/" alt="Хлеб, выпечка" title="Хлеб, выпечка">Хлеб, выпечка</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/bakaleya/" alt="Бакалея" title="Бакалея">
              <img src="/assets/components/phpthumbof/cache/%203.b6919b0da74be038a7a9ce3bbebf7d0a.jpg" alt="Бакалея"
                   title="Бакалея"></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/bakaleya/" alt="Бакалея" title="Бакалея">Бакалея</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/varene-i-zakatki/" alt="Варенье и закатки " title="Варенье и закатки ">
              <img src="/assets/components/phpthumbof/cache/IMG_3672.b6919b0da74be038a7a9ce3bbebf7d0a.jpg"
                   alt="Варенье и закатки" title="Варенье и закатки "></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/varene-i-zakatki/" alt="Варенье и закатки " title="Варенье и закатки ">Варенье и
                закатки </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/urbech/" alt="Урбеч" title="Урбеч">
              <img src="/assets/components/phpthumbof/cache/IMG_6869.b6919b0da74be038a7a9ce3bbebf7d0a.jpg" alt="Урбеч"
                   title="Урбеч"></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/urbech/" alt="Урбеч" title="Урбеч">Урбеч</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-6">
        <div class="single-blog-item">
          <div class="image">
            <a href="catalog/chaj/" alt="Чай " title="Чай ">
              <img src="/assets/components/phpthumbof/cache/WI70B9qhY1U.b6919b0da74be038a7a9ce3bbebf7d0a.jpg" alt="Чай"
                   title="Чай "></a>
          </div>
          <div class="content">
            <h3>
              <a href="catalog/chaj/" alt="Чай " title="Чай ">Чай </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="features-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Экологически чистые фермерские продукты</h1>
        <p>Хотите, чтобы вы и ваша семья питались вкусно, сытно и при этом не волноваться за своё здоровье? Заходя в
          магазин после работы, нет времени на изучение этикеток и составы товаров? А может, лучше было бы совсем не
          ходить в магазин и получать с доставкой на дом только свежие, вкусные, натуральные продукты?<br/>
          <br/>
          В нашем онлайн-магазине представлен большой выбор самых разнообразных качественных продуктов: мясо, колбасные
          изделия, молочные продукты, хлеб, выпечка, соки, масла, а также сезонные ягоды и овощи.<br/>
          <br/>
          Все они изготавливаются/выращиваются без применения пестицидов, антибиотиков, гормонов роста и других
          химических добавок.<br/>
          <br/>
          Мы бережно упаковываем ваши заказы в бумажные пакеты и контейнеры, чтобы каждый продукт попал к вам в целости
          и сохранности.<br/>
          <br/>
          Желаем, приятных покупок!</p>
      </div>
      <div class="col-lg-4">
        <div class="features-image">
          <img src="template/img/features-2.jpg" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="top-products-area pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Хит продаж</h2>
      <p>Продукты, которые пользователи чаще всего покупают.</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-6 product_grid ms2_product" itemtype="http://schema.org/Product" itemscope>
        <meta itemprop="description" content="Овсяное печенье">
        <form method="post" class="ms2_form d-flex flex-column flex-md-row align-items-center no-gutters">
          <input type="hidden" name="id" value="120">
          <input type="hidden" name="count" value="1">
          <input type="hidden" name="options" value="[]">
          <div class="top-products-item" itemtype="http://schema.org/AggregateOffer" itemprop="offers" itemscope>
            <meta itemprop="category" content="Хлеб, выпечка">
            <meta itemprop="name" content="Овсяное печенье">
            <meta itemprop="offerCount" content="1">
            <meta itemprop="price" content="4.5">
            <meta itemprop="lowPrice" content="4.5">
            <meta itemprop="priceCurrency" content="BUN">
            <div class="products-image">
              <a href="catalog/xleb-vyipechka/ovsyanoe-pechene" alt="Овсяное печенье " title="Овсяное печенье ">
                <img src="/assets/images/products/120/283x283/img-7719.jpg" class="mw-100" alt="Овсяное печенье"
                     title="Овсяное печенье" itemprop="image"/>
              </a>


            </div>

            <div class="products-content">
              <h3>
                <a href="catalog/xleb-vyipechka/ovsyanoe-pechene" alt="Овсяное печенье " title="Овсяное печенье ">Овсяное
                  печенье </a>
              </h3>
              <div class="price">
                <span class="price new-price">4.5 руб./300грамм</span>
              </div>
              <ul class="rating">
                <li>
                  <button class="default-btn add_cart_in_category" type="submit" name="ms2_action" value="cart/add">
                    В корзину
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-4 col-6 product_grid ms2_product" itemtype="http://schema.org/Product" itemscope>
        <meta itemprop="description" content="Сыр в масляной заливке">
        <form method="post" class="ms2_form d-flex flex-column flex-md-row align-items-center no-gutters">
          <input type="hidden" name="id" value="112">
          <input type="hidden" name="count" value="1">
          <input type="hidden" name="options" value="[]">
          <div class="top-products-item" itemtype="http://schema.org/AggregateOffer" itemprop="offers" itemscope>
            <meta itemprop="category" content="Молочные продукты из козьего молока">
            <meta itemprop="name" content="Сыр в масляной заливке">
            <meta itemprop="offerCount" content="1">
            <meta itemprop="price" content="8">
            <meta itemprop="lowPrice" content="8">
            <meta itemprop="priceCurrency" content="BUN">
            <div class="products-image">
              <a href="catalog/syir/molochnyie-produktyi-iz-kozego-moloka/syir-v-maslyanoj-zalivke"
                 alt="Сыр в масляной заливке" title="Сыр в масляной заливке">
                <img src="/assets/images/products/112/283x283/img-5434.jpg" class="mw-100" alt="Сыр в масляной заливке"
                     title="Сыр в масляной заливке" itemprop="image"/>
              </a>


            </div>

            <div class="products-content">
              <h3>
                <a href="catalog/syir/molochnyie-produktyi-iz-kozego-moloka/syir-v-maslyanoj-zalivke"
                   alt="Сыр в масляной заливке" title="Сыр в масляной заливке">Сыр в масляной заливке</a>
              </h3>
              <div class="price">
                <span class="price new-price">8 руб./192грамма</span>
              </div>
              <ul class="rating">
                <li>
                  <button class="default-btn add_cart_in_category" type="submit" name="ms2_action" value="cart/add">
                    В корзину
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-4 col-6 product_grid ms2_product" itemtype="http://schema.org/Product" itemscope>
        <meta itemprop="description" content="Хлеб бородинский">
        <form method="post" class="ms2_form d-flex flex-column flex-md-row align-items-center no-gutters">
          <input type="hidden" name="id" value="115">
          <input type="hidden" name="count" value="1">
          <input type="hidden" name="options" value="[]">
          <div class="top-products-item" itemtype="http://schema.org/AggregateOffer" itemprop="offers" itemscope>
            <meta itemprop="category" content="Хлеб, выпечка">
            <meta itemprop="name" content="Хлеб бородинский">
            <meta itemprop="offerCount" content="1">
            <meta itemprop="price" content="3.5">
            <meta itemprop="lowPrice" content="3.5">
            <meta itemprop="priceCurrency" content="BUN">
            <div class="products-image">
              <a href="catalog/xleb-vyipechka/xleb-borodinskij" alt="Хлеб бородинский " title="Хлеб бородинский ">
                <img src="/assets/images/products/115/283x283/img-8097.jpg" class="mw-100" alt="Хлеб бородинский"
                     title="Хлеб бородинский" itemprop="image"/>
              </a>


            </div>

            <div class="products-content">
              <h3>
                <a href="catalog/xleb-vyipechka/xleb-borodinskij" alt="Хлеб бородинский " title="Хлеб бородинский ">Хлеб
                  бородинский </a>
              </h3>
              <div class="price">
                <span class="price new-price">3.5 руб./550грамм</span>
              </div>
              <ul class="rating">
                <li>
                  <button class="default-btn add_cart_in_category" type="submit" name="ms2_action" value="cart/add">
                    В корзину
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-4 col-6 product_grid ms2_product" itemtype="http://schema.org/Product" itemscope>
        <meta itemprop="description" content="Кабаносы">
        <form method="post" class="ms2_form d-flex flex-column flex-md-row align-items-center no-gutters">
          <input type="hidden" name="id" value="35">
          <input type="hidden" name="count" value="1">
          <input type="hidden" name="options" value="[]">
          <div class="top-products-item" itemtype="http://schema.org/AggregateOffer" itemprop="offers" itemscope>
            <meta itemprop="category" content="Мясные деликатесы">
            <meta itemprop="name" content="Кабаносы">
            <meta itemprop="offerCount" content="1">
            <meta itemprop="price" content="8.5">
            <meta itemprop="lowPrice" content="8.5">
            <meta itemprop="priceCurrency" content="BUN">
            <div class="products-image">
              <a href="catalog/myasnyie-delikatesyi/kabanosyi" alt="Кабаносы" title="Кабаносы">
                <img src="/assets/images/products/35/283x283/kabanos-2.jpg" class="mw-100" alt="Кабаносы"
                     title="Кабаносы" itemprop="image"/>
              </a>


            </div>

            <div class="products-content">
              <h3>
                <a href="catalog/myasnyie-delikatesyi/kabanosyi" alt="Кабаносы" title="Кабаносы">Кабаносы</a>
              </h3>
              <div class="price">
                <span class="price new-price">8.5 руб./300грамм</span>
              </div>
              <ul class="rating">
                <li>
                  <button class="default-btn add_cart_in_category" type="submit" name="ms2_action" value="cart/add">
                    В корзину
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="services-area bg-image pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Почему мы?</h2>

    </div>

    <div class="row">


      <div class="col-lg-3 col-md-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-plant"></i></div>
          <h3>Широкий асортимент</h3>
          <p>Большой выбор продуктов от бакалеи до мяса.</p>
        </div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-nature"></i></div>
          <h3>Экологически чистые продукты</h3>
          <p>Вся продукция выращивается без химических добавок</p>
        </div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-heart"></i></div>
          <h3>Индивидуальный подход</h3>
          <p>Для нас важен каждый покупатель. Оказываем подробную консультацию по товару.</p>
        </div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-organic"></i></div>
          <h3>Сертификат</h3>
          <p>На все товары есть сертификаты качества от производителей</p>
        </div>
      </div>


    </div>
  </div>
</section>
